node_modules/
dist/
.cache/
.env
build/

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
.vscode/settings.json
amplify/team-provider-info.json
amplify/.config/project-config.json
amplify/backend/backend-config.json
amplify/backend/api/OpenAIAPI/cli-inputs.json
amplify/backend/auth/reactchatgpttemplate12319748/cli-inputs.json
amplify/backend/function/chatCompletionsAPI/chatCompletionsAPI-cloudformation-template.json
amplify/backend/function/chatCompletionsAPI/custom-policies.json
amplify/backend/function/chatCompletionsAPI/function-parameters.json
amplify/backend/function/chatCompletionsAPI/amplify.state
amplify/backend/function/chatCompletionsAPI/parameters.json
amplify/backend/function/chatCompletionsAPI/src/event.json
amplify/backend/types/amplify-dependent-resources-ref.d.ts
amplify/backend/function/chatCompletionsAPI/src/app.js
amplify/backend/function/chatCompletionsAPI/src/package-lock.json
amplify/backend/tags.json
amplify/cli.json
amplify/README.md
amplify/backend/function/chatCompletionsAPI/src/index.js
package-lock.json
amplify/hooks/README.md

